//breakpoints/
$desktop:(min-width: 1400px);

//theme colors
$primary-green: #58E1C1; //green
$primary-blue: #51DDFC; //blue
$primary-red:#E4757A; //red
$primary-purple: #927BC1; //purple
$secondary-green: #63CC82;
$secondary-red: #FD9F85;
$secondary-purple: #DEB2EE;

//border stylesheet
$brdr-radius: 10px;

//grid (number of grid__col)
$g-col-count: 12;

//
