// .form {
//
// }

.form__label--hidden {
  display: none;
}

.form__input {
  align-self: center;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  padding: 1.1em 1em;
  border-bottom: .5em solid $primary-green;
  border-top: none;
  border-left: none;
  border-right: none;

  @include desktop {
    padding: 1.5em .8em 1.7em .8em;
    margin-bottom: 1em;
  }
}
