.grid__row {
  margin-bottom: 2em;

  @include desktop {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

    .grid__col--8 .card {
      width: 50em;
      margin-right: auto;
      align-self: flex-start;
    }

    .form {
      width: 50%;
      margin: 1.2em 1em 1em 5em;
      align-self: flex-end;
    }

    .grid__col--6 {
      display: inline-flex;
      flex-direction: row;
    }

    .grid__col--12 {
      width: 98%;
      display: inline-flex;
      flex-direction: row;
      justify-content:space-between;
      margin-left: 5em;
      margin-right: 5em;
    }
  }
}

@for $i from 1 through $g-col-count {
    .grid__col--#{$i}.theme__colors{
      font-size: $btn-font;
      color: #707477;
      padding:1em 3em 1em 1em;
      margin: 4px 0;
      text-transform: lowercase;
      @extend %theme__colors;
      @include desktop {
        margin: 10px;
      }
  }
}


.grid__col--12.theme__colors {
  background-color: $primary-green;
}

.grid__col--6.theme__colors {
  background-color: darken(mix($primary-green, $primary-blue),15);
}

.grid__col--4.theme__colors {
  background-color: $primary-blue;
}

.grid__col--3.theme__colors {
  background-color: $secondary-purple;
}

.grid__col--5.theme__colors {
  background-color: lighten($secondary-green, 15);
}

.grid__col--7.theme__colors,
.centered.theme__colors {
  background-color: lighten($primary-red, 10);
}

.grid__col--8.theme__colors {
  background-color: $secondary-red;
}
